$coloreSfondo: #640fc5;
$coloreBianco: #f4f4f4;
$coloreH1: #2d035e;
$coloreBordoImgGrande:rgb(133, 16, 133);
$coloreBtn1: #0e6cff;
$coloreBtn2: #ff8700;
$coloreBtn3: #4caf50; 
$coloreFooter: rgba(128, 128, 128, 0.315);
$coloreBordoImgFooter:#640fc5;
