@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Spectral:wght@300&display=swap');
$font:'Roboto', sans-serif;
$interlinea: 1.5em;
$fontPiccolo: 0.8rem;
$fontMedio: 1.3rem;
$fontGrande: 2rem;
$fontTitolo: 8rem;
